.error_block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  background-color: gainsboro;

  &-message {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;

    font-size: 2rem;
    font-weight: 900;

    color: #f73636;

    transform: translate(-50%, -50%);
  }
}
