.new_message {
  display: grid;

  height: 100px;

  gap: 3px;
  grid-template-areas: "textarea button";
  grid-template-columns: 1fr 65px;

  & * {
    outline: none;
  }

  &-text {
    padding: 10px 10px;

    border-radius: 6px;

    resize: none;

    grid-area: textarea;
  }

  &-button {
    width: 100%;
    height: 40px;

    border-radius: 6px;

    grid-area: button;
  }

  &-button_send {
    background-color: #b3e1f3;

    &--edit {
      background-color: #97f597;
    }
  }

  &-button_cancel {
    background-color: #c7e69a;
  }
}
